<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<a th:text="${'Name: ' + user.name}">VALUE</a>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>


<!--<form th:method="EDITE" th:action="@{/{id}/edit(id=${user.getId()})}">-->
<!--    <input type="submit" value="EDIT"/>-->
<!--</form>-->

<form th:method="DELETE" th:action="@{/{id}/delete(id=${user.getId()})}">

   <input type="submit" value="DELETE"/>
</form>
</body>
</html>